<div class="row justify-content-center">
  <div class="col-3">
    <div>image</div>
  </div>
  <div class="col-7">
    <% if current_user == @user %>
      <h3>マイページ</h3>
    <% else %>
      <h3><%= @user.name %>さんのページ</h3>
    <% end %>

    <%= render 'info', user: @user %>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10 d-flex flex-wrap">
    <%= render 'post_hobbies/index', obj: @post_hobby %>
  </div>
</div>