<div class="row">
  <div class="col-3 offset-1">
    <p>&plus;  <%= link_to '新規登録する', new_post_hobby_path %></p>
    <p>&lt;  <%= link_to '下書き一覧へ', drafts_post_hobbies_path %></p>
  </div>
  <div class="col-6 offset-1">
    <h3 class="mb-3">投稿一覧</h3>
    <%= render 'index', obj: @published_post_hobbies %>
  </div>
</div>





