<div class="row">
  <div class="col-5">
    <div class="img">

      <%= link_to '編集する', edit_post_hobby_path(@post_hobby), class: "text-primary" %>
    </div>
  </div>
  <div class="col-5 offset-1">

  </div>
</div>